[submodule "blueprint-ts-mode"]
	path = lisp/blueprint-ts-mode
	url = https://github.com/huanie/blueprint-ts-mode
[submodule "lisp/typst-ts-mode"]
	path = lisp/typst-ts-mode
	url = git@codeberg.org:meow_king/typst-ts-mode.git
